html,
body {
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
}

.layui-card {
    margin: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.layui-form {
    width: 500px;
}